<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Server | User Details</title>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="icon" type="image/x-icon" href="/images/favicon.ico">
</head>
<body>

<!-- Navigation Bar -->
<div class="navbar">
    <div class="logo">DeepServer</div>
    <div class="nav-links">
        <a href="/">Home</a>
        <a href="/user/dashboard">Dashboard</a>
        <!--<a href="/logout">Logout</a>-->
		<!-- Show only if the user is authenticated -->
        <a href="/logout" sec:authorize="isAuthenticated()">Logout</a>

        <!-- Show only if the user is not authenticated -->
        <a href="/login" sec:authorize="isAnonymous()">Login</a>
    </div>
</div>

<h1 class="glow-header" style="margin-top: 40px;">User Details</h1>

<!-- User Table -->
<div class="user-table-container">
    <table class="rounded-corners">
        <thead>
            <tr>
                <th>ID</th>
                <th>Username</th>
                <th>Password</th>
                <th>Role</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="user : ${users}">
                <td th:text="${user.id}"></td>
                <td th:text="${user.username}"></td>
                <td th:text="${user.password}"></td>
                <td th:text="${user.role}"></td>
                <td>
                    <form th:action="@{'/user/delete/' + ${user.id} + '/' + ${user.username}}" method="post" 
                          onsubmit="return confirm('Are you sure you want to delete this user?');">
                        <button type="submit" class="btn delete-btn">Delete</button>
                    </form>
                </td>
            </tr>
        </tbody>
    </table>
</div>
<a class="btn" href="/">Back</a>
</body>
</html>